
.main{
  background: rgb(236,233,228);
background: linear-gradient(75deg, rgba(236,233,228,1) 10%, rgba(103,93,103,0.9108237044817927) 50%);
  
}
 


.cardsbg{

 position: absolute;
 top: 0%;
 
 z-index: -1;
 width: 100%;
 height: auto;
}
.cardsbg img{
background-position: cover ;
width: 100%;
}
.container{
  background-color: blue;
}
.container-fluid{
text-align: center;
font-size: large;
background: linear-gradient(70deg, rgb(240, 195, 123) 10%, rgba(239,240,136,0.9108237044817927) 50%);
margin-top: 2px;

}

.search{
  background: rgb(236,233,228);
background: radial-gradient(circle, rgba(236,233,228,1) 10%, rgba(234,136,240,0.9108237044817927) 50%);
  text-align: center;
  height: 80px;

}
.searchbutton{
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
  border-width: 3px;
  color: blue;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: Arial, Helvetica, sans-serif;
}
.searchbutton:hover{
color: rgb(15, 21, 16);
background-color: rgb(166, 253, 204);

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input{
  height: 70px;
  font-size: 20px;
  width: 280px;
  color: blue;
  padding-left: 2px;
  margin-left: 3px;
}

.navbar-brand{
  /* color: blue; */
  text-align: center;
  position: relative;


}







