
.main{
  /* background: rgb(236,233,228);
  background: linear-gradient(75deg, rgba(236,233,228,1) 10%, rgba(103,93,103,0.9108237044817927) 50%); */
  
}
.cardsbg{
  /* position: absolute;
  top: 0%;
  z-index: -1;
  width: 100%;
  height: auto; */
}
.cardsbg img{
/* background-position: cover ;
width: 100%; */
}
.container{
  /* background-color: blue; */
}
.container-fluid{
/* text-align: center; */
/* font-size: large; */
/* background: linear-gradient(70deg, rgb(240, 195, 123) 10%, rgba(239,240,136,0.9108237044817927) 50%); */
/* margin-top: 2px; */

}
