/* .container{
  background: rgb(193,166,144);
background: linear-gradient(70deg, rgba(193,166,144,1) 10%, rgba(200,136,240,0.9108237044817927) 50%);
}

.body{
  background: rgb(193,166,144);
background: linear-gradient(70deg, rgba(193,166,144,1) 10%, rgba(200,136,240,0.9108237044817927) 50%);
}

.copyright-text{
  text-decoration: none;
  font-weight: 300;
} */
